<div class="editar-bus-container">
  <h2>Editar Bus</h2>

  <form (ngSubmit)="actualizarBus()" class="bus-edit-form">
    <div class="form-group">
      <label for="numeroPlaca">Número de Placa:</label>
      <input type="text" id="numeroPlaca" [(ngModel)]="busDTO.numeroPlaca" name="numeroPlaca" required>
    </div>

    <div class="form-group">
      <label for="modelo">Modelo:</label>
      <input type="text" id="modelo" [(ngModel)]="busDTO.modelo" name="modelo" required>
    </div>

    <div class="form-buttons">
      <button type="submit" class="btn btn-update">Actualizar Bus</button>
      <button type="button" class="btn btn-cancel" (click)="verBuses()">Cancelar</button>
    </div>
  </form>
</div>
