<form (ngSubmit)="actualizarRuta()" style="display: flex; flex-direction: column; gap: 15px;">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" [(ngModel)]="ruta.nombre" name="nombre" required>

  <label>Estaciones:</label>
  <div *ngFor="let estacion of estaciones">
    <input
      type="checkbox"
      [value]="estacion.id"
      (change)="onEstacionChange($event)"
      [checked]="ruta.estacionesIds.includes(estacion.id)">
    {{ estacion.nombre }}
  </div>

  <label for="horarios">Horarios:</label>
  <select id="horarios" [(ngModel)]="ruta.horarioFuncionamiento" name="horarios" required>
    <option *ngFor="let horario of horarios" [value]="horario.id">{{ horario.horaInicio }} - {{ horario.horaFin }} - {{ horario.dias }} </option>
  </select>

  <button type="submit">Actualizar Ruta</button>
</form>
