/* Contenedor principal */
.container-lista-buses {
    max-width: 960px;
    margin: 100px auto; /* Ajusta el margen para centrar el contenedor */
    padding: 20px;
}

/* Tabla de buses */
.entity-list {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-top: 20px;
}

.entity-list th {
    background-color: #e5112a;
    color: white;
    text-align: left;
    padding: 10px;
}

.entity-list td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Estilo del botón de volver */
.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-secondary {
    background-color: #e5112a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn-secondary:hover {
    background-color: #cc6f00;
}
