<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{../../static/css/general.css}">
</head>

<div th:fragment="menu">
    <header>
        <div class="containerMenu">
            <div class="menu-container">
                <a th:href="@{/conductor/list}" class="menu-item active">Gestionar Conductores</a>
                <a th:href="@{/bus/list}" class="menu-item">Gestionar Buses</a>
                <a th:href="@{/conductor/list}" class="menu-item">Cerrar Sesión</a>
            </div>
        </div>
    </header>
</div>

</html>
