body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Asegúrate de tener espacio adicional arriba de los botones */
    margin-bottom:20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Cambiado a 5px para bordes más redondeados */
    cursor: pointer;
    text-decoration: none; /* Asegura que los botones no tengan subrayado */
    display: inline-block; /* Asegura que el botón se comporte como un bloque */
    font-weight: bold; /* Hace que el texto sea más destacable */
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
}

.btn-secondary {
    background-color: #f44336;
    color: white;
    border-radius: 5px; /* Añade borde redondeado */
    padding: 10px 20px; /* Espaciado consistente con otros botones */
    margin-left: 10px; /* Espacio entre botones */
    text-align: center; /* Alineación centrada del texto */
}

.btn-info {
    background-color: #2196F3;
    color: white;
}

.btn-info:hover {
    background-color: #1976D2;
}

.btn:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}
