/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

/* Estilos del formulario de búsqueda */
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-container button {
    background-color: #e5112a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #ecd566;
}

/* Estilos de los botones */
.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    padding-;
}

.btn {
    background-color: #e5112a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
}

.btn:hover {
    background-color: #ecd566;
}

.agregar-btn {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
}

.agregar-btn:hover {
    background-color: #ecd566; /* Verde oscuro */
}

/* Estilos de la tabla */
.entity-list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.entity-list th,
.entity-list td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.entity-list th {
    background-color: #e5112a;
    color: white;
}

/* Botones en las celdas de la tabla */
.entity-list td .ver-btn {
    background-color: #fff200; /* Amarillo */
    color: black;
}

.entity-list td .ver-btn:hover {
    background-color: #e5112a; /* Rojo oscuro */
}

.entity-list td .editar-btn {
    background-color: #ecd566; /* Naranja */
    color: black;
}

.entity-list td .editar-btn:hover {
    background-color: #fff200; /* Amarillo oscuro */
}

.entity-list td .eliminar-btn {
    background-color: #f44336; /* Rojo */
    color: white;
}

.entity-list td .eliminar-btn:hover {
    background-color: #000000; /* Rojo oscuro */
}

/* Estilos para la tabla en general */
.table {
    margin-top: 20px;
    background-color: white;
}

.table th {
    background-color: #ffcc00;
    color: black;
    text-align: center;
}

.table td {
    text-align: center;
}

.btn {
    display: block;
    width: 100px;
    margin: 20px auto;
    background-color: #e5112a;
    border-color: #dc7673;
    color: white;
}

.btn:hover {
    background-color: #e5112a;
    border-color: #e5112a;
}
