<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
    <title>Asignar Buses</title>
</head>
<body>
<div th:replace="fragments/menu :: menu"></div>
<h1>Asignar Buses al Conductor</h1>
<form th:action="@{/conductor/save-bus-assignments}" method="post">
    <input type="hidden" name="conductorId" th:value="${conductor.id}"/>

    <h2>Buses y Horarios</h2>
    <div id="assignments">
        <div th:each="bus, iterStat : ${buses}">
            <label>
                <input type="checkbox" th:value="${bus.id}" name="busIds"/>
                <span th:text="${bus.numeroPlaca}">Bus</span>
            </label>
            <!-- Modificación: Agregar un name único para cada selección de horario -->
            <select th:name="'horarioIds_' + ${bus.id}">
                <option value="" disabled selected>Selecciona un horario</option>
                <option th:each="horario : ${horarios}"
                        th:value="${horario.id}"
                        th:text="${horario.horaInicio + ' - ' + horario.horaFin + ' (' + horario.dias + ')'}">Horario</option>
            </select>
            <br/>
        </div>
    </div>

    <button type="submit">Guardar Asignaciones</button>
</form>

<!-- Enlace para volver a la lista de conductores -->
<a href="/conductor/list">Volver a la lista de conductores</a>
</body>
</html>
