<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Buses</title>
</head>
<body>
<h1>Lista de Buses</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Numero de Placa</th>
        <th>Modelo</th>
        <th>Ruta</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bus : ${buses}">
        <td th:text="${bus.id}"></td>
        <td th:text="${bus.numeroPlaca}"></td>
        <td th:text="${bus.modelo}"></td>
        <td th:text="${bus.ruta.nombre}"></td>
        <td><a th:href="@{/bus/view/{id}(id=${bus.id})}">Ver Detalles</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
