<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Buses</title>
</head>
<body>
<h1>Lista de Buses</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Numero de Placa</th>
        <th>Modelo</th>
        <th>Ruta</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bus : ${buses}">
        <td th:text="${bus.id}"></td>
        <td th:text="${bus.numeroPlaca}"></td>
        <td th:text="${bus.modelo}"></td>
        <td th:text="${bus.ruta.nombre}"></td>
    </tr>
    </tbody>
</table>

<!-- Botón para volver a la lista de conductores -->
<a href="/conductor/list"><button>Volver a Conductores</button></a>
</body>
</html>
