<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Buses</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Lista de Buses</h1>
<table>
    <thead>
    <tr>
        <th>Número de Placa</th>
        <th>Modelo</th>
        <th>Ruta</th>
        <th>Horarios</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bus : ${buses}">
        <td th:text="${bus.numeroPlaca}">Número de Placa</td>
        <td th:text="${bus.modelo}">Modelo</td>
        <td th:text="${bus.ruta != null ? bus.ruta.id : 'No asignada'}">Ruta</td>
        <td>
            <ul>
                <li th:each="horario : ${bus.horarios}" th:text="${horario.horaInicio + ' - ' + horario.horaFin}">Horario</li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<a href="#" th:href="@{/conductor/list}">Volver a Conductores</a>
</body>
</html>
