<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" th:href="@{/static/css/BuscarConductor.css}">
</head>

<body>

<h1>Persons</h1>

<form method="get" action="#" th:action="@{/conductor/search}">
  <label for="searchText">Buscar por nombre</label>
  <input type="text" id="searchText" name="searchText">
  <button type="submit">Search</button>
</form>

<table class="entity-list">
  <thead>
  <tr>
    <th>Cedula</th>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>

  <tr th:each="c : ${conductors}" th:if="${c.id}">
    <td th:text="${c.cedula}"></td>
    <td th:text="${c.nombre}"></td>
    <td th:text="${c.direccion}"></td>
    <td th:text="${c.telefono}"></td>
    <td>
      <a th:href="@{/conductor/view/{id}(id=${c.id})}" class="btnVer">Ver</a>
      <a th:href="@{/conductor/edit-form/{id}(id=${c.id})}" class ="btnEditar">Editar</a>
      <a th:href="@{/conductor/edit-form/{id}(id=${c.id})}" class ="btnEliminar">Eliminar</a>
    </td>
  </tr>
  </tbody>
</table>

</body>

</html>