<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{static.css/estilo.css}">
</head>

<body>

<h1>Detalles del Conductor</h1>

<div>
    <p><strong>Nombre:</strong> <span th:text="${conductor.nombre}"></span></p>
    <p><strong>Cédula:</strong> <span th:text="${conductor.cedula}"></span></p>
    <p><strong>Teléfono:</strong> <span th:text="${conductor.telefono}"></span></p>
    <p><strong>Dirección:</strong> <span th:text="${conductor.direccion}"></span></p>
</div>

<!-- Botón para volver a la lista -->
<a th:href="@{/conductor/list}" class="btn volver-btn">Volver a la lista</a>

</body>

</html>
