<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
<h1 th:if="${conductor.id == null}">Agregar Conductor</h1>
<h1 th:if="${conductor.id != null}">Editar Conductor</h1>
<form action="#" th:action="@{/conductor/save}" th:object="${conductor}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label for="nombre">Nombre:</label>
    <input type="text" th:field="*{nombre}" id="nombre" />
    <label for="cedula">Cédula:</label>
    <input type="text" th:field="*{cedula}" id="cedula" />
    <label for="telefono">Teléfono:</label>
    <input type="text" th:field="*{telefono}" id="telefono" />
    <label for="direccion">Dirección:</label>
    <input type="text" th:field="*{direccion}" id="direccion" />
    <button type="submit">Guardar</button>
</form>
<a href="/conductor/list">Volver a la lista</a>
</body>
</html>
