.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar {
    margin-top: 5vw;
    width: 10vw;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .search-bar input[type="text"] {
    width: 80px;
    padding: 10px;
    border: black 1px solid;
    border-radius: 5px;
  }
  
  .search-bar button {
    width: 15vw;
    padding: 10px;
    margin-left: 5vw;
    border-radius: 5px;
    background-color: yellow;
    color: black;
    font-weight: bold;
    cursor: pointer;
  }

  .btn-add button {
    background-color: #f05050;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .search-bar button:hover {
    background-color: yellow;
  }
  
  .conductores-list {
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f0f0f0;
  }
  
  td button {
    margin: 5px;
  }

  .btn-ver {
    background-color: #f05050;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
  }

  .btn-editar {
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }

  .btn-eliminar {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }

  