<div>
  <h1>Conductores</h1>
  <p>{{ errorMessage }}</p>
  <ul *ngIf="allConductors$ | async as allConductores; else loading">
    <li *ngFor="let conductor of allConductores">
      {{ conductor.nombre }} <!-- Asegúrate de que las propiedades sean correctas -->
      <button (click)="verConductor(conductor.id)">Ver</button>
      <button *ngIf="conductor.id !== null" (click)="editarConductor(conductor.id)">Editar</button>
      <button (click)="eliminarConductor(conductor.id)">Eliminar</button>

    </li>
  </ul>
</div>

<ng-template #loading>
  <p>Cargando...</p>
</ng-template>
